doctype html
html
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    title GPS APP Telematica
    link(rel='stylesheet', type='text/css', href='/bower_components/bootstrap/dist/css/bootstrap.css') 
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBmdhVJcwT22Ew26tMfpHIQTO1RJ2GjduE')
  body
    h1.display-4.m-b-2 Rutas Gps
    hr
    table.table.table-borderless
      thead
        tr
          th(scope='col') Mapa
          th(scope='col') Opciones
      tbody
        tr
          td
            #map(style='width: 800px; height: 400px;')
          td
            div.btn-group-vertical
              button#iniciar.btn.btn-primary Iniciar Ruta
              button#avanzar.btn.btn-secundary Simular Avance
              button#finalizar.btn.btn-success Finalizar Ruta
              button.btn.btn-info Rutas guardadas:
                span.badge= routes.length
            ul.list-group
              for route in routes
                li.list-group-item= route.id
                  select(id = route.id multiple='' hidden)
                    for point in route.points
                      option= [point.lat,point.lon]
                  button.btn.btn-success( onclick=`drawRoute(${JSON.stringify(route.id)})` ) Ver
            button.btn.btn-dark(onclick='/') Salir
    br
    h6 #{message}
    p#token(hidden) #{token}  
    script(type='text/javascript').
        alert(id);
        function drawRoute(idRoute){
            var i;
            var locations = [];
            debugger;            
            var locationsArray = document.getElementById(idRoute);
            for (i = 0 ; i < locationsArray.length ; i++){
                locations.push(locationsArray[i].value);
            }
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 11,
                center: new google.maps.LatLng(6.2691, -75.5761),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            var infowindow = new google.maps.InfoWindow();
            var marker, i;
            for (i = 0; i < locations.length; i++) {
                var latLngPoints = locations[i].split(',')
                var latitud = parseFloat(latLngPoints[0].replace(/\s/g,''));
                var longitud = parseFloat(latLngPoints[1].replace(/\s/g,''));
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(latitud, longitud),
                    map: map
                });
                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        infowindow.setContent('posición ' + i + ' : ' + locations[i]);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }
        }
