doctype html
html
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    title GPS APP Telematica
    link(rel='stylesheet', type='text/css', href='/bower_components/bootstrap/dist/css/bootstrap.css') 
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBmdhVJcwT22Ew26tMfpHIQTO1RJ2GjduE')
  body
    h1.display-4.m-b-2 Rutas Gps
    hr
    table.table.table-borderless
      thead
        tr
          th(scope='col') Mapa
          th(scope='col') Opciones
      tbody
        tr
          td(rowspan='6')
            #map(style='width: 800px; height: 400px;')
          td
            div.btn-group-vertical
              button#iniciar.btn.btn-primary(onclick="updateGps('true')") Iniciar Ruta
              button#avanzar.btn.btn-secundary Simular Avance
              button#finalizar.btn.btn-success(onclick="updateGps('false')") Finalizar Ruta
        tr
          td      
            div.btn-group-vertical  
              button.btn.btn-info Rutas guardadas:
                span.badge= routes.length
            ul.list-group
              for route in routes
                li.list-group-item= route.id
                  select(id = route.id multiple='' hidden)
                    for point in route.points
                      option= [point.lat,point.lon]
                  button.btn.btn-success( onclick=`addMarkers(${JSON.stringify(route.id)})` ) Ver
            button.btn.btn-dark(onclick='/') Salir
    br
    h6 #{message}
    p#token(hidden) #{token}
    p#userId(hidden) #{userId}
    script(type='text/javascript').
      var body = document.getElementsByTagName("body")[0];
      body.addEventListener("load", initMap(), false);
      var map, rutaBasevar, rutaFinalizada, timerGps, jsonRequestMessage, jsonResponseMessage, jwtoken, userId;
      var markers = [];
      var positionsArray = [];
      
      //-------------------------------------------------------------------------
      function initMap(){
        map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: new google.maps.LatLng(6.2691, -75.5761),
        mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        userId = document.getElementById('userId').textContent;
        jwtoken = document.getElementById('token').textContent;
      }
      //-------------------------------------------------------------------------
      function addMarkers(idRoute){
        deleteMarkers();
        var i;
        var markersArray = document.getElementById(idRoute);
        for (i = 0 ; i < markersArray.length ; i++){
          var latLngPoints = markersArray[i].value.split(',')
          var latitud = parseFloat(latLngPoints[0].replace(/\s/g,''));
          var longitud = parseFloat(latLngPoints[1].replace(/\s/g,''));
          var marker = new google.maps.Marker({
              position: new google.maps.LatLng(latitud, longitud),
              map: map
            });
          markers.push(marker);
        }
        showMarkers();
      }

      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }

      function clearMarkers() {
        setMapOnAll(null);
      }

      function showMarkers() {
        setMapOnAll(map);
      }

      function deleteMarkers() {
        clearMarkers();
        markers = [];
      }
      //---------------------------------------------------------------------------
      function updateGps(option){
        if(option === 'true'){
          positionsArray = [];
          var fecha = moment(new Date()).format("MM/DD/YYYY");
          jsonRequestMessage = {
            'fecha': fecha,
            'user' : userId
          };
          
          var xmlHttpRequest = new XMLHttpRequest();
          xmlHttpRequest.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              var obj = JSON.parse(this.responseText);
              exportObject(obj);
            }
          };
          xmlHttpRequest.open("POST", "/api/route", true);
          xmlHttpRequest.setRequestHeader("Content-type", "application/json");
          xmlHttpRequest.setRequestHeader('Authorization', jwtoken);
          xmlHttpRequest.send(JSON.stringify(jsonRequestMessage));

          rutaFinalizada = false;

          timerGps = setInterval(function(){ getPosition() }, 1000);  
        }else{
          //debugger;
          clearInterval(timerGps);       
          rutafinalizada = true;
          console.log(rutaBase);
          //false envía la ruta actualizada a la db
        }
      }
      
      function getPosition(){
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(savePosition);
        } else { 
          console.log("Geolocation is not supported by this browser.");
        }
      }

      function savePosition(position) {
        console.log('pushiando ' + position.coords.latitude + ' , ' + position.coords.longitude);
        positionsArray.push({lat: position.coords.latitude, lon: position.coords.longitude});
        rutaBase['route']['points'] = positionsArray;

        var xmlHttpRequest = new XMLHttpRequest();
        xmlHttpRequest.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            console.log(this.responseText);
          }
        };
        xmlHttpRequest.open("PUT", "/api/route/" + rutaBase['route']['_id'], true);
        xmlHttpRequest.setRequestHeader("Content-type", "application/json");
        xmlHttpRequest.setRequestHeader('Authorization', jwtoken);
        xmlHttpRequest.send(JSON.stringify(rutaBase));

      }

      //------------------------------------------------------------------------------------
      function exportObject(obj){
        rutaBase = obj;
      }




