doctype html
html
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    title GPS APP Telematica
    link(rel='stylesheet', type='text/css', href='/bower_components/bootstrap/dist/css/bootstrap.css') 
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBmdhVJcwT22Ew26tMfpHIQTO1RJ2GjduE')
  body
    h1.display-4.m-b-2 Rutas Gps
    hr
    table.table.table-borderless
      thead
        tr
          th(scope='col') Mapa
          th(scope='col') Opciones
      tbody
        tr
          td(rowspan='6')
            #map(style='width: 800px; height: 400px;')
          td
            div.btn-group-vertical
              button#iniciar.btn.btn-primary(onclick="updateGps('true')") Iniciar Ruta
              button#avanzar.btn.btn-secundary Simular Avance
              button#finalizar.btn.btn-success(onclick="updateGps('false')") Finalizar Ruta
        tr
          td      
            div.btn-group-vertical  
              button.btn.btn-info Rutas guardadas:
                span.badge= routes.length
            ul.list-group
              for route in routes
                li.list-group-item= route.id
                  select(id = route.id multiple='' hidden)
                    for point in route.points
                      option= [point.lat,point.lon]
                  button.btn.btn-success( onclick=`addMarkers(${JSON.stringify(route.id)})` ) Ver
            button.btn.btn-dark(onclick='/') Salir
    br
    h6 #{message}
    p#token(hidden) #{token}
    p#userId(hidden) #{userId}
    script(type='text/javascript').
      var map;
      var markers = [];
      var body = document.getElementsByTagName("body")[0];
      body.addEventListener("load", initMap(), false);
      //-------------------------------------------------------------------------
      function initMap(){
        map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: new google.maps.LatLng(6.2691, -75.5761),
        mapTypeId: google.maps.MapTypeId.ROADMAP
        });
      }
      //-------------------------------------------------------------------------
      function addMarkers(idRoute){
        deleteMarkers();
        var i;
        var markersArray = document.getElementById(idRoute);
        for (i = 0 ; i < markersArray.length ; i++){
          var latLngPoints = markersArray[i].value.split(',')
          var latitud = parseFloat(latLngPoints[0].replace(/\s/g,''));
          var longitud = parseFloat(latLngPoints[1].replace(/\s/g,''));
          var marker = new google.maps.Marker({
              position: new google.maps.LatLng(latitud, longitud),
              map: map
            });
          markers.push(marker);
        }
        showMarkers();
      }
      //---------------------------------------------------------------------------
      // Sets the map on all markers in the array.
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }
      //---------------------------------------------------------------------------
      // Removes the markers from the map, but keeps them in the array.
      function clearMarkers() {
        setMapOnAll(null);
      }
      //---------------------------------------------------------------------------
      // Shows any markers currently in the array.
      function showMarkers() {
        setMapOnAll(map);
      }
      //---------------------------------------------------------------------------
      // Deletes all markers in the array by removing references to them.
      function deleteMarkers() {
        clearMarkers();
        markers = [];
      }
      //---------------------------------------------------------------------------
      function updateGps(option){
        var time;
        if(option == 'true'){
          time = setInterval(function(){
                    getPosition();
                  }, 1000);  
        }else{
          debugger;
          clearInterval(time);
          //false envía la ruta actualizada a la db
        }
      }
      
      function getPosition(){
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else { 
          console.log("Geolocation is not supported by this browser.");
        }
      }

      function showPosition(position) {
        console.log("Lat: " + position.coords.latitude + "lng: " + position.coords.longitude);
      }




